<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.powertime.iatp.mapper.BaseTopicTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.powertime.iatp.entity.BaseTopicType">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="status" property="status" />
        <result column="des" property="des" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <select id="mySelectPage" resultMap="BaseResultMap">
        SELECT *
        FROM
        base_topic_type
        WHERE
        status!=-1
        <if test="vo.title != null and vo.title != '' ">
            AND title like '%${vo.title}%'
        </if>
        ORDER BY id desc
    </select>

    <update id="batchDel">
        update base_topic_type set status = -1
        where id in
        <foreach collection="ids" item="id" index="index"
                 open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>

</mapper>
